<h2 *ngIf="heroNames.length > 0">Listado de Héroes</h2>

<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Último héroe borrado: <small class="text-danger">{{deletedHero}}</small></h3>
</div>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada</h3>
</ng-template>

<button *ngIf="heroNames.length > 0"
  class="btn btn-outline-danger"
  (click)="removeLastHero()" >
  Borrar último erroe
</button>

<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames" class="list-group-item">{{name}}</li>
</ul>

